<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정보</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">고객정보관리메인페이지</a> 
      </nav>
    <div class="container">
        <h1>고객정보관리</h1>
        <form action="/search" method="get" class="search_form">
            <input type="text" name="search" placeholder="고객명으로 검색" id="search_input" >
            <button type="submit" id="search">검색</button>
        </form>
    
        <p>Total Posts : <%= Userinfos.length %> 개 </p>

        <table class="post_list">
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>sex</th>
            <th>contact</th>
            <th></th>
            <% if(locals.Userinfos) { %>
                <% for(let userinfo of Userinfos ){ %>
                <tr>
                    <div>
                        <td>
                            <%= userinfo.id %>  
                        </td>
                        <td class="name">
                            <%= userinfo.name %>
                        </td>
                        <td>
                            <%= userinfo.age %> 
                        </td>
                        <td>
                            <%= userinfo.sex %> 
                        </td>
                        <td class="contact">
                            <%= userinfo.contact%> 
                        </td>
                        <td>
                            <form action="/delete/<%= userinfo.id %>" method="post" onsubmit="let result = confirm('삭제하시겠습니까?');if(!result) return false;">
                                <button type="submit" class="btn-d">삭제</button>
                            </form>
                        </td>
                    </div>       
                </tr>    
                <% } %> 
            <%}%> <!-- if -->
            <!-- 고객자료가 없으면 표시 -->
            <% if(Userinfos.length == 0) {%> 
              <p>요청한 고객을 찾을 수 없습니다.</p>
            <% } %>             
        </table>

        <h2>정보입력</h2>
        <form action="/create" method="post" class="btn">
            <input type="text" name="name" placeholder="이름 입력" class="btn_i">
            <input type="text" name="age" placeholder="나이 입력" class="btn_i">
            <div class="sex" id="sex">
                <input type="radio" name="sex" id="man" value="man">
                <label for="male">남자</label>
                <input type="radio" name="sex" id="woman" value="woman">
                <label for="female">여자</label>
            </div>
            <!-- patten 전화번호 정규표현식 패턴 찾아서 넣기 -->
            <input type="text" name="contact" placeholder="연락처 000-0000-0000" class="btn_i" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" maxlength="13"><br>
            <button type="submit" class="btn_a">추가</button>
        </form>
    </div>
    
</body>
</html>